<div class="card">
  <div class="image-container">
    <img *ngIf="product.image" src="{{product.image}}" />
  </div>
  <div class="info-container">
    <div class="heading">
      <h3 class="category">{{product.category}}</h3>
      <h2 class="app-title mat-color-accent name">{{product.name}}</h2>
    </div>
    <div class="description" [innerHtml]="product.description | safeHtml"></div>
    <div class="price-info">
      <span class="price">
        {{product.price | currency:'USD'  }}
      </span>
      <span class="action">
        <button mat-mini-fab color="accent" aria-label="add to cart" type="button" (click)="addToCard()">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </span>
    </div>
  </div>
</div>
