:host {
  display: flex;
  flex-direction: column;

  .card {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
    margin: 10px;

    .image-container {
      height: 200px;
      display:flex;
      align-items:center;
      justify-content:center;

      img {
        object-fit: contain;
        object-position: center;
        height:100%;
      }
    }

    .info-container {
      padding: 1.25rem;
      display: flex;
      flex-direction: column;

      .heading {
        display: flex;
        flex-direction: column;
        align-items: center;

        .name, .category {
          line-height: 3px;
        }

        .category {
          opacity: 0.5;
        }
      }

      .description {
        height: 60px;
        overflow: hidden;
        text-align: center;
        margin-bottom: 1rem;
      }

      .price-info {
        padding: .75rem 1.25rem;
        border-top: 1px solid rgba(0,0,0,.125);
        display: flex;

        .price {
          display: flex;
          flex-basis: 50%;
          justify-content: center;
          font-size:14px;
          font-weight:bold;
          flex-direction:column;
          align-items:center;
          .original{
              text-decoration:line-through;
              opacity:0.5;
          }
        }

        .action {
          display: flex;
          flex-basis: 50%;
          justify-content: flex-end;
        }
      }
    }
  }
}
