:host {
  display: flex;
  flex-direction: column;
  margin: 20px;

  .heading {
    display: flex;

    .title {
      width: 90%;
    }

    .total {
      position: relative;

      .mat-badge {
        top: 25px;
      }
    }
  }

  .product-list {
    display: flex;
    flex-direction: column;

    .product-list-item {
      display: flex;
      border-radius: 0.25rem;
      border: 1px solid rgba(0,0,0,.125);
      padding: .75rem 1.25rem;

      .product-name {
        width: 80%;
        font-size: 13px;
      }

      .product-price {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
      }
    }
  }

  .cart-calcs {
    margin-top: 1rem;
    border-radius: 0.25rem;
    border: 1px solid rgba(0,0,0,.125);
    padding: .75rem 1.25rem;
    display:flex;
    .label{
        display:flex;
        width:80%;
    }
  }

  .action-items{
      display:flex;
      flex-grow:1;
      flex-direction:column;
      margin-top: 1rem;
      button{
          width:100%;
      }
  }
}
