@font-face {
  font-family: 'mycomic';
  src: url('../assets/fonts/mycomic.ttf') format('opentype');
}

.homepage {
  .page-title {
    display: none;
  }
}

.app-title {
  cursor: pointer;
  font-family: mycomic;
  font-size: 25px;
  display: flex;

  .mat-icon {
    margin: 5px;
  }
}

page, blogs, blog, store {
  h1, h2, h3, h4 {
    font-family: mycomic;
  }

  .font-branded {
    font-family: mycomic;
    font-size: 20px;
  }
}

toolbar-navigation-item {
  .mat-button-wrapper {
    font-family: mycomic;
    font-size: 20px;
  }
}

.mat-menu-panel {
  a {
    font-family: mycomic;
    font-size: 20px;
  }

  button {
    font-family: mycomic;
    font-size: 20px;
  }
}

.logo-font {
  font-family: mycomic;
}

.content-container hr {
  color: var(--mat-color-primary) !important;
}

.mat-list-item-content {
  font-size: 18px !important;
  font-family: mycomic;
}
