@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  .nav-heading {
    display: flex;

    h2 {
      margin-left: 10px;
    }
  }

  .category-container {
    width: 100%;

    @include lg {
      width: 1200px;
    }

    .grid-container {
      display: flex;
      flex-wrap: wrap;

      @include xs {
        flex-direction: column;
      }

      product-preview {
        @include lg {
          flex-basis: 25%;
        }

        @include md {
          flex-basis: 33%;
        }

        @include sm {
          flex-basis: 50%;
        }
      }
    }
  }
}
