<div class="category-container">

  <div class="nav-heading">
    <div [ngStyle]="{'margin-top.px': 15}">
      <button mat-mini-fab color="accent" aria-label="View more categories" routerLink="/store/categories">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </div>
    <h2>View More Categories</h2>
  </div>

  <h2 class="page-title">Category: {{category$ | async}}</h2>

  <div fxLayout="column" fxLayoutAlign="start center" [ngStyle]="{'padding-top.px': 30}" *ngIf="working$ | async as loading; else done">
    <mat-progress-spinner mode="indeterminate" [diameter]="30" [strokeWidth]="2"></mat-progress-spinner>
    <span [ngStyle]="{'padding.px': 10}">Loading Store Categories...</span>
  </div>

  <ng-template #done>

    <ng-container *ngIf="items$ | async as items">

      <ng-container *ngIf="!items.length">
        <mat-card>
          No Categories to Display
        </mat-card>
      </ng-container>

      <ng-container *ngIf="items.length">

        <div class="grid-container">

          <ng-container *ngFor="let item of items">

            <product-preview [product]="item" (onAddToCart)="addToCart($event)"></product-preview>

          </ng-container>

        </div>

      </ng-container>

    </ng-container>

  </ng-template>

</div>
