@mixin xs {
  @media screen and (max-width: 599px) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: 600px) and (max-width: 959px) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: 960px) and (max-width: 1279px) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  .category-container {
    width: 100%;

    @include lg {
      width: 1200px;
    }

    .grid-container {
      display: flex;

      @include xs {
        flex-direction: column;
      }

      product-preview {
        @include lg {
          flex-basis: 25%;
        }

        @include md {
          flex-basis: 33%;
        }

        @include sm {
          flex-basis: 50%;
        }
      }
    }
  }
}
