<div fxLayout="column" fxFlex>

  <div fxLayout="column" fxLayoutAlign="start center" [ngStyle]="{'padding-top.px': 30}" *ngIf="working$ | async as loading; else done">
    <mat-progress-spinner mode="indeterminate" [diameter]="30" [strokeWidth]="2"></mat-progress-spinner>
    <span [ngStyle]="{'padding.px': 10}">Loading Product...</span>
  </div>

  <ng-template #done>

    <div class="navigate-heading">
      <div [ngStyle]="{'margin-top.px': 15}">
        <button mat-mini-fab color="primary" aria-label="Category List" [routerLink]="listPath">
          <mat-icon>chevron_left</mat-icon>
        </button>
      </div>
      <h2>{{title}}</h2>
    </div>

    <ng-container *ngIf="record$ | async as record; else noRecord">

      <formly-form-flex-json [formlyGroup]="formlyGroup"
                             [btn-ready]="btnReadyLabel"
                             [btn-busy]="btnLoadingLabel"
                             (onFormSubmit)="formSubmit()">
      </formly-form-flex-json>

    </ng-container>

    <ng-template #noRecord>
      <mat-card>
        No Product Record Found
      </mat-card>
    </ng-template>

  </ng-template>

</div>
