@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  ::ng-deep {
    .mat-step-header {
      pointer-events: none !important;
    }
  }


  .content {
    width: 100%;
    display: flex;
    flex-direction: column;

    .steps-card{
        margin:20px;
    }
    @include lg {
      width: 1300px;
    }


    .action-items {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
    }
  }
}
