@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  .content {
    width: 100%;
    display: flex;

    @include lg {
      width: 1300px;
    }

    @include sm {
      flex-direction: column-reverse;
    }

    @include xs {
      flex-direction: column-reverse;
    }

    .action-items{
        display:flex;
        flex-grow:1;
        justify-content:flex-end;
    }
  }
}
