@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  h1, h2, h3 {
    color: var(--mat-color-primary);
  }

  .store-container {
    width: 100%;

    @include lg {
      width: 1200px;
    }

    .product-categories-grid-container {
      @include xs {
        flex-direction: column;
      }

      display: flex;
      flex-wrap: wrap;

      .product-category-item {

        @include lg {
          flex-basis: 25%;
        }

        @include md {
          flex-basis: 33%;
        }

        @include sm {
          flex-basis: 50%;
        }

        display: flex;
        flex-direction: column;

        .produc-category-card {
          display: flex;
          box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
          flex-direction: column;
          margin: 20px;
          position: relative;

          .product-category-info {
            padding: 20px;

            a {
              display: flex;
              width: 100%;
            }
          }

          .product-image-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 200px;

            img {
              width: 100%;
              /*object-fit: contain;*/
              object-fit: cover;
              object-position: center;
              max-height: 200px;
            }
          }
        }
      }
    }
  }
}
