@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    width: 100%;
    display: flex;

    @include lg {
      width: 1300px;
    }

    @include sm {
      flex-direction: column-reverse;
    }

    @include xs {
      flex-direction: column-reverse;
    }

    .no-items-panel {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .empty-card-msg {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      .msg-icon {
        font-size: 3em;
      }

      h1 {
        text-align: center;
        padding: 20px;
      }
    }

    .product-panel {
      width: 75%;

      @include sm {
        width: 100%;
      }

      @include xs {
        width: 100%;
      }

      .grid {
        display: flex;
        flex-wrap: wrap;

        product-preview {
          @include lg {
            width: 25%;
          }

          @include md {
            width: 33%;
          }

          @include sm {
            width: 50%;
          }

          @include xs {
            width: 100%;
          }
        }
      }
    }

    .table-panel {
      width: 25%;

      @include sm {
        width: 100%;
      }

      @include xs {
        width: 100%;
      }
    }
  }
}
