
:host {
  h1, h2, h3, h4, h5 {
    color: var(--mat-color-primary);
  }

  .navigat-posts-heading {
    display: flex;

    h2 {
      margin-left: 10px;
    }
  }

  .post-content {
    margin-left: 30px;
    margin-right: 30px;
  }

  ::ng-deep {
    .content-container {
      * img {
        max-width: 100%;
      }

      h1, h2, h3 {
        color: var(--mat-color-primary);
      }

      hr {
        border: none;
        color: #111;
        letter-spacing: 1em;
        text-align: center;
      }

      hr:before {
        content: '...';
        font-size: 25px;
        font-weight: bold;
      }
    }
  }
}
